@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
}

html {
    scroll-behavior: smooth;
}

@media (min-width: 300px) {

    main, header {
        color: rgb(20, 20, 20);
        background-image: linear-gradient(ghostwhite, lightcyan);
        display: flex;
        flex-direction: column;
    }

    header {
        height: 50vh;
        background-image: url(/images/coding-working.jpeg);
        color: white;
    }

    header, .about-me, .projects, .skills-head, .education, .contact {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    section {
        padding-top: 3%;
        padding-bottom: 3%;
    }

    h2 {
        font-weight: bold;
        color: midnightblue;
    }

    h5 {
        font-weight: bold;
        padding: 3% 0% 2% 0%;
    }

    h6 {
        color: rgb(100, 100, 100);
    }

    .header-text {
        font-size: 30px;
    }

    header > p {
        font-size: 12px;
    }

    .icon {
        width: 50%;
        font-size: 20px;
        display: flex;
        justify-content: space-evenly;
    }

    .fa {
        text-decoration: none;
        color: white;
    }

    .fa:hover {
        color: dodgerblue;
    }

    .mainpage h2 {
        padding-bottom: 3%;
    }

    .about-me, .projects, .skills, .skills-head, .education, .contact {
        padding: 5%;
    }

    .profile {
        width: 30vh;
        height: 30vh;
        background: url(/images/profile.jpg);
        border-radius: 50%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .about-text {
        padding-top: 8%;
    }

    .span-blue {
        color: midnightblue;
    }

    .projects-div, .about-me {
        display: flex;
        flex-direction: column;
    }

    .projects-div {
        width: 100%;
        display: flex;
        flex-direction: row;
        text-align: start;
    }

    .projects aside {
        width: 100%;
        height: 100%;
    }

    .soft-skills, .technical-skills {
        padding-left: 12%;
        padding-right: 12%;
    }

    .skills > .soft-skills > h5, .skills > .technical-skills > h5 {
        border-bottom: 1px solid black;
        width: 95%;
    }

    /* change from .education to .education-container */
    .education-container, .projects {
        display: flex;
        flex-direction: column;
        row-gap: 3vh;
    }

    .education aside {
        width: 50vh;
        height: 15vh;
        margin-top: 5%;
    }

    .projects aside {
        width: 100%;
        height: 25vh;
        margin-top: 5%;

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .card {
        background-color: transparent;
    }

    .accordion-item, .accordion-button {
        background-color: transparent;
    }

    .contact [type="text"], [type="email"], textarea {
        width: 95%;
        padding: 2%;
    }

    .contact-form > input {
        margin-bottom: 5%;
    }

    .btn-submit {
        color: dodgerblue;
        padding: 2%;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid dodgerblue;
        border-radius: 5px;
    }

    .btn-education, .btn-submit:hover {
        color: white;
        background-color: dodgerblue;
    }

    .btn-clear {
        color: rgb(80, 80, 80);
        padding: 2%;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid rgb(80, 80, 80);
        border-radius: 5px;
    }

    .btn-clear:hover {
        color: white;
        background-color: rgb(80, 80, 80);
    }

    .d-flex {
    /*before was class .button-form {*/
        padding-top: 5%;
        display: flex;
        justify-content: space-evenly;
    }

    /* just added, after change .button-form to class d-flex*/
    .contact > form > [class="d-flex"] {
        justify-content: space-evenly;
    }

    .footer {
        font-size: 12px;
        color: white;
        background-color: midnightblue;
        padding: 5%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .icon-footer {
        width: 40%;
        font-size: 15px;
        display: flex;
        justify-content: space-evenly;
    }

    #project-1 > aside {
        background: url(/images/project-1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #project-2 > aside {
        background: url(/images/project-2.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #project-3 > aside {
        background: url(/images/project-3.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #project-4 > aside {
        background: url(/images/project-4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    #tamwood-card > aside {
        background: url(/images/Tamwood.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #cmu-card > aside {
        background: url(/images/Chiangmai.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #georgia-card > aside {
        background: url(/images/GeorgiaTech.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    #hec-card > aside {
        background: url(/images/HEC.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

}



@media (min-width: 700px) {
    header > p {
        font-size: 20px;
        padding-left: 3%;
        padding-right: 3%;
    }

    h2 {
        font-size: 35px;
    }
    
    .header-text {
        font-size: 50px;
        font-weight: 600;
    }  

    .icon {
        font-size: 30px;
    }

    .mainpage p {
        font-size: 18px;
    }

    .projects > div {
        width: 90%;
    }

    .projects aside {
        height: 30vh;
    }

    .education-container > .card {
        align-items: center;
    }

    .education aside {
        justify-content: center;
        align-items: center;
    }

    #achievements > div > ol {
        padding-left: 35%;
        padding-right: 30%;
    }

    .contact > form {
        width: 90%;
        padding-left: 10%;
    }

    .btn-submit, .btn-clear {
        width: 120px;
        height: 50px;
    }

    .footer {
        font-size: 20px;
    }

}